<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href='https://fonts.googleapis.com/css?family=Roboto:100,900|Material+Icons'>
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href='./assets/src/fonts/materialdesignicons/css/materialdesignicons.min.css'>
    <link href="./assets/src/css/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/src/css/style.css" rel="stylesheet">

</head>

<body style="color: white; background-color: white;">

    <div id="app">

        <noscript>
            <strong>We're sorry but theme-blog doesn't work properly without JavaScript enabled. Please enable it to
                continue.</strong>
        </noscript>


        <v-app>

            <v-navigation-drawer v-model="drawer" absolute clipped temporary app class="sticky-top">
                <v-img :aspect-ratio="7/3" src="./assets/public/images/bg-menu.png">

                </v-img>

                <v-list>
                    <v-list-item :to="{path: '/'}">
                        <v-list-item-action>
                            <v-icon>mdi-{{ icons[0] }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Inicio</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item :to="{path: '/blog'}">
                        <v-list-item-action>
                            <v-icon>mdi-{{ icons[1] }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Blog</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item :to="{path: '/softwares'}">
                        <v-list-item-action>
                            <v-icon>mdi-{{ icons[2] }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Softwares</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item :to="{path: '/about'}">
                        <v-list-item-action>
                            <v-icon>mdi-{{ icons[3] }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>About</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item :to="{path: '/contact'}">
                        <v-list-item-action>
                            <v-icon>mdi-{{ icons[4] }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Contact</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-spacer></v-spacer>


            </v-navigation-drawer>

            <v-app-bar class="orange accent-4 white--text v-sheet theme--dark v-toolbar v-app-bar v-app-bar--elevate-on-scroll v-app-bar--fixed v-app-bar--hide-shadow" app clipped-left flat>
                <v-app-bar-nav-icon class="d-md-none" @click="drawer=true" class="white--text"></v-app-bar-nav-icon>

                <v-toolbar-title class="font-weight-bold headline">
                    {{appName}} &copy;
                </v-toolbar-title>

                <v-spacer></v-spacer>





                <div class="d-none d-md-block">
                    <v-spacer></v-spacer>

                    <v-btn :to="{path: '/'}" class="subtitle-1 text-capitalize font-weight-light" text dark flat>
                        Inicio
                    </v-btn>

                    <v-btn :to="{path: '/blog'}" class="subtitle-1 text-capitalize font-weight-light" text dark>
                        Blog
                    </v-btn>

                    <v-btn :to="{path: '/softwares'}" class="subtitle-1 text-capitalize font-weight-light" text dark>
                        Proyectos
                    </v-btn>

                    <v-btn :to="{path: '/about'}" class="subtitle-1 text-capitalize font-weight-light" text dark>
                        Sobre nosotros
                    </v-btn>

                    <v-btn :to="{path: '/contact'}" class="subtitle-1 text-capitalize font-weight-light" text dark>
                        Contacto
                    </v-btn>
                </div>


                <v-switch @click="$vuetify.theme.dark" v-model="$vuetify.theme.dark" class="ma-2 d-none d-md-block" label="Modo oscuro"></v-switch>


            </v-app-bar>





            <!-- Provides the application the proper gutter -->

            <!--Main page-->
            <v-main>
                <v-container fluid>
                    <v-fade-transition mode="out-in">
                        <router-view></router-view>
                    </v-fade-transition>
                </v-container>
            </v-main>

            <!--Footer-->
            <v-footer class="pa-3">
                <v-layout justify-center row wrap>
                    <div> {{appName}} &copy; {{ new Date().getFullYear() }} </div>
                </v-layout>
            </v-footer>
        </v-app>


    </div>


    <!-- Vues -->
    <script src="./assets/src/js/vue.js"></script>
    <script src="./assets/src/js/vuetify.js"></script>
    <script src="./assets/src/js/vue-router.js"></script>

    <!-- Component -->
    <script src="./assets/src/components/test_component.js"></script>



    <!-- Pages -->
    <script src="./assets/src/pages/home.vue.js"></script>
    <script src="./assets/src/pages/blog.vue.js"></script>
    <script src="./assets/src/pages/softwares.vue.js"></script>
    <script src="./assets/src/pages/about.vue.js"></script>
    <script src="./assets/src/pages/contact.vue.js"></script>

    <!-- App -->
    <script src="./assets/src/js/app.js"></script>

</body>

</html>