<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href='https://fonts.googleapis.com/css?family=Roboto:100,900|Material+Icons'>
    <link href="./assets/src/fonts/materialdesignicons/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="./assets/src/css/vuetify.min.css" rel="stylesheet">
    <link href="./assets/src/css/style.css" rel="stylesheet">
    <title></title>
</head>

<body>

    <noscript>
        <strong>
            We're sorry but theme-blog doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>



    <div data-app="true" class="v-application v-application--is-ltr theme--light" id="app">

        <v-app>
            <title>{{appName}}</title>


            <div id="top-bar">
                <!-- Menú móvil -->
                <v-navigation-drawer v-model="drawer" absolute clipped temporary app class="sticky-top">
                    <v-img :aspect-ratio="7/3" :src="imageMenuPath">

                    </v-img>

                    <v-list>
                        <v-list-item :to="{path: '/'}">
                            <v-list-item-action>
                                <v-icon>mdi-{{ icons[0] }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Home</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item :to="{path: '/blog'}">
                            <v-list-item-action>
                                <v-icon>mdi-{{ icons[1] }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Blog</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item :to="{path: '/software'}">
                            <v-list-item-action>
                                <v-icon>mdi-{{ icons[2] }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Projects</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item :to="{path: '/about'}">
                            <v-list-item-action>
                                <v-icon>mdi-{{ icons[3] }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>About</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item :to="{path: '/contact'}">
                            <v-list-item-action>
                                <v-icon>mdi-{{ icons[4] }}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>Contact</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>

                    <v-spacer></v-spacer>
                </v-navigation-drawer>

                <!-- Top Bar -->
                <v-app-bar class="white--text v-sheet v-toolbar v-app-bar v-app-bar--elevate-on-scroll v-app-bar--fixed v-app-bar--hide-shadow" app clipped-left flat>
                    <v-app-bar-nav-icon class="d-md-none" @click="drawer=true" class="white--text"></v-app-bar-nav-icon>


                    <!-- Logo -->
                    <v-img class="mx-2" :src="logoPath" max-height="90" max-width="190" contain></v-img>

                    <!-- Separador -->
                    <v-spacer></v-spacer>

                    <!-- btn nav -->
                    <div class="d-none d-md-block mr-3">
                        <menu-item v-for="(menuitem,index) in menuitems" :path="menuitem.path" :label="menuitem.label">
                        </menu-item>
                    </div>



                    <!--Dark mode button-->
                    <div>
                        <v-tooltip v-if="!$vuetify.theme.dark" bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" color="info" small fab
                                    @click="$vuetify.theme.dark = !$vuetify.theme.dark">
                                    <v-icon class="mr-1">mdi-moon-waxing-crescent</v-icon>
                                </v-btn>
                            </template>
                            <span>Dark Mode On</span>
                        </v-tooltip>

                        <v-tooltip v-else bottom>
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" color="info" small fab
                                    @click="$vuetify.theme.dark = !$vuetify.theme.dark">
                                    <v-icon color="yellow">mdi-white-balance-sunny</v-icon>
                                </v-btn>
                            </template>
                            <span>Dark Mode Off</span>
                        </v-tooltip>

                    </div>
                    <!---------------->

                </v-app-bar>
            </div>



            <!--Main page-->
            <v-main class="v-main v-content">
                <v-container fluid>
                    <v-fade-transition mode="out-in">
                        <router-view></router-view>
                    </v-fade-transition>
                </v-container>
            </v-main>

            <!--Footer-->
            <v-footer class="pa-8">
                <v-layout justify-center row wrap>

                    <div> {{appName}} &copy; {{ new Date().getFullYear() }} </div>
                </v-layout>
            </v-footer>
        </v-app>


    </div>


    <!-- Vues -->
    <script src="./assets/src/js/polyfill.min.js"></script>
    <script src="./assets/src/js/vue.js"></script>
    <script src="./assets/src/js/vuex.js"></script>
    <script src="./assets/src/js/vuetify.js"></script>
    <script src="./assets/src/js/vue-router.js"></script>

    <!-- Pages -->
    <script src="./assets/src/pages/home.vue.js"></script>
    <script src="./assets/src/pages/blog.vue.js"></script>
    <script src="./assets/src/pages/software.vue.js"></script>
    <script src="./assets/src/pages/about.vue.js"></script>
    <script src="./assets/src/pages/contact.vue.js"></script>

    <!-- App -->
    <script src="./assets/src/js/app.js"></script>

</body>

</html>