@import url('../css/pages/home.css');

/* Para que el menú en su versión móvil no sea afectado por el scroll */

.sticky-top {
    position: fixed;
}

#top-bar {
    z-index: 1003
}

@media (prefers-color-scheme: dark) {
    .dark-scheme {
        display: none;
    }
}